:root {

    /* Colors */
    --primary-text-color: rgba(255, 255, 255, 0.95);
    --secundary-text-color: rgba(255, 255, 255, 0.7);
    --main-bg: #121212;

    /* Table */
    --divider-border: rgba(255, 255, 255, 0.12);
    --thead-tr-color: rgba(255, 255, 255, 0.7);
    --thead-th-font-weight: 400;
    --tbody-tr-color: rgba(255, 255, 255, 0.95);
    --tbody-td-font-weight: 300;

    /* Card */
    --card-bg-color: transparent;

    /* Inputs */
    --bg-input-color: rgba(255, 255, 255, 0.16);

    /* Buttons */
    --btn-light-hover-bg: rgba(255, 255, 255, 0.12);
    --btn-light-border-color: rgba(255, 255, 255, 0.12);

    /* Shadows */

    /* Fonts */
    --font-family: "Roboto";
}

body {
    font-family: var(--font-family);
    font-weight: normal;
    color: var(--primary-text-color);
    background-color: var(--main-bg);
}

thead tr {
    color: var(--thead-tr-color);
}

thead tr th {
    font-weight: var(--thead-th-font-weight);
}

tbody tr {
    color: var(--tbody-tr-color);
}

tbody tr td {
    font-weight: var(--tbody-td-font-weight);
}

table {
    border-color: var(--divider-border);
}

.table {
    color: var(--primary-text-color);
    border-color: var(--divider-border);
}

.card {
    background-color: var(--card-bg-color);
}

.btn-light {
    color: var(--primary-text-color);
    background-color: transparent;
    border-color: var(--btn-light-border-color);
}

.btn-light:hover {
    color: var(--primary-text-color);
    background-color: var(--btn-light-hover-bg);
    border-color: var(--btn-light-border-color);
}

.actions-btn .btn-light {
    color: var(--primary-text-color);
    background-color: transparent;
    border: 0;
}

.actions-btn .btn-light:hover {
    color: var(--primary-text-color);
    background-color: var(--btn-light-hover-bg);
    border: 0;
}

.form-control {
    background-color: var(--bg-input-color);
    border-color: var(--divider-border);
    color: var(--primary-text-color);
}

.form-control:focus {
    color: var(--primary-text-color);
    background-color: var(--bg-input-color);
}

.form-control::placeholder {
    color: var(--secundary-text-color);
}

/* Breakpoints */

@media (min-width: 1400px) {
    .container,
    .container-lg,
    .container-md,
    .container-sm,
    .container-xl,
    .container-xxl {
        max-width: 1600px;
    }
}